.container
  .wrapper
    .projects-overview

      %h1= t("entries.index.edit_entry")
      = render partial: "application/#{@entry_type}_entry_form", locals: { form_title: t("entries.index.edit_#{@entry_type}_entry") }
