<script id="category_row" type="x-tmpl-mustache">
  <tr>
    {{#name}}
      <td>{{name}}</td>
    {{/name}}
    {{^name}}
      <td class='scrollable-dropdown-menu'>
        <input id="category_input" type="text" placeholder="Categories">
        <span class='minus-row'><i class="fa fa-minus"></i></span>
      </td>
    {{/name}}
    {{#hours}}
      <td data-project-id='{{project_id}}' data-category-id='{{category_id}}' data-hour-id='{{id}}' data-date='{{date}}'><input type='number' value='{{value}}'/></td>
    {{/hours}}
  </tr>
</script>
