<script id="daily_update_template" type="x-tmpl-mustache">
<div class='table-responsive'>
  <table class=''>
    <thead class='daily-update-header'>
      <tr>
        <td>
          Projects
        </td>
        {{#dates}}
          <td>{{.}}</td>
        {{/dates}}
      </tr>
    </thead>
    <tbody>
    {{#projects}}
      <tr class='project-row'>
        <td colspan='8'>{{name}} <span class='add_category' data-project-id={{id}}><i class="fa fa-plus-circle"></i></span></td>
      </tr>
      {{#currentWeekCategories}}
        {{> category_row }}
      {{/currentWeekCategories}}
    {{/projects}}
    </tbody>
    <tfoot>
      <tr></tr>
      <tr>
        <td>
          Description
        </td>
        {{#dailyUpdates}}
          <td><textarea value='{{description}}'/></td>
        {{/dailyUpdates}}
      </tr>
    </tfoot>
  </table>
</div>
</script>
