<script id="daily_update_template" type="x-tmpl-mustache">
<div class='table-responsive'>
  <table class='table table-sm table-bordered table-hover'>
    <thead>
      <tr class='daily-update-header'>
        <th class="align-middle">
          Projects
        </th>
        {{#dates}}
          <th class="text-center">{{value}}<br><small>{{dayName}}</small></th>
        {{/dates}}
      </tr>
    </thead>
    <tbody>
    {{#projects}}
      <tr class='project-row'>
        <th colspan='8'>
          <div class="row justify-content-between align-items-center ml-0 mr-0">
            <div class="col-auto pl-0">
            {{name}}
            </div>
            <div class="col-auto pr-0">
              <span class='add_category btn btn-secondary btn-sm' data-project-id={{id}}>Add Task</span>
            </div>
          </div>
        </th>
      </tr>
      {{#currentWeekCategories}}
        {{> category_row }}
      {{/currentWeekCategories}}
    {{/projects}}
    </tbody>
    <tfoot>
      <tr>
        <td>
          <small>
            <b>
              Description
            </b>
          </small>
        </td>
        {{#dailyUpdates}}
          <td><textarea class='td-description form-control form-control-sm' name='{{descriptionName}}' data-date='{{date}}'>{{description}}</textarea></td>
        {{/dailyUpdates}}
      </tr>
    </tfoot>
  </table>
</div>
</script>
