<script id="daily_update_template" type="x-tmpl-mustache">
<div class='table-responsive'>
  <table class='table table-sm table-bordered table-hover'>
    <thead>
      <tr class='daily-update-header'>
        <th class="align-middle">
          Projects
        </th>
        {{#dates}}
          <th class="text-center">{{.}}<br><small>Mon</small></th>
        {{/dates}}
      </tr>
    </thead>
    <tbody>
    {{#projects}}
      <tr class='project-row'>
        <th colspan='8'>{{name}} <span class='add_category pull-right btn btn-info btn-sm' data-project-id={{id}}>Add Task</span></th>
      </tr>
      {{#currentWeekCategories}}
        {{> category_row }}
      {{/currentWeekCategories}}
    {{/projects}}
    </tbody>
    <tfoot>
      <tr>
        <td>
          <small>
            <b>
              Description
            </b>
          </small>
        </td>
        {{#dailyUpdates}}
          <td><textarea class='td-description form-control form-control-sm' data-date='{{date}}'>{{description}}</textarea></td>
        {{/dailyUpdates}}
      </tr>
    </tfoot>
  </table>
</div>
</script>
