.outer
  .container
    %h1= title
    %p= link_to 'New Project', new_project_path
    %hr/
    %ul.categories-overview= render partial: "project", collection: @projects
    %hr/
= paginate @projects
