.reports {
  .container {
    min-height: 100%;
  }

  table {
    font-size: 10px;
    width: 100%;
  }

  td.description {
    max-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
