.container
  %h1= title
  .row.justify-content-center
    .col-md-8
      %hr/
      %ul.categories-overview.row= render partial: "category", collection: @categories
      %hr/
      = render partial: "form"
