<div class='container'>
  <div id='daily_entry_template'></div>
</div>
<%= render 'category_row.mustache' %>
<%= render 'daily_update_template.mustache' %>
<%= javascript_include_tag 'daily_updates/all_time_cards_manager.js' %>
