.container
  .row
    .col-md-3.order-md-1
      .sidebar
        = render "filters"
        = link_to t("entries.download_csv"), reports_path(download_csv_params), class: 'btn btn-outline-secondary btn-block btn-sm mb-3'
    .col-md-9
      .reports-tabs-container
        %ul.accordion-tabs
          = render partial: "hours_reports"
